@import "tailwindcss";

@theme {
  --font-sans: 'Bricolage Grotesque', sans-serif;
  --font-serif: 'Instrument Serif', serif;
  --font-mono: 'JetBrains Mono', monospace;
}

/* Inženjerski Infinite Marquee (CSS only) */
@keyframes marquee {
  0% { transform: translateX(0%); }
  100% { transform: translateX(-50%); }
}

.animate-marquee {
  animation: marquee 35s linear infinite; /* 35 sekundi za lagano, čitljivo skrolovanje */
  display: flex;
  width: max-content; /* Mora biti max-content da bi držalo sve u jednoj liniji */
}

/* Opciono: Zaustavlja animaciju kada klijent pređe mišem preko nje */
.marquee-container:hover .animate-marquee {
  animation-play-state: paused;
}